body{
    font-family: 'Montserrat', sans-serif;
}
.bienvn{
    margin-top: 0;
    margin-bottom: 0;
}
h2{
    background: #00bc8c;
}
.prog{
    text-align: center;
}
.w-100{
    max-height: 450px;
}
.card{
    height: 100%;
}
.card-img-top{
    width: 238px;
    height: 180px;
}